.title {
    font-family: sans-serif;
    font-size: 24px;
}

.reportHeader {
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;

}

.overview {
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;

}

#plot {
    float: left;
}

#plotText {
    text-align: right;
    float: right;
    margin-left: 50px;
}

.footnotes {
    text-align: bottom;
    text-align: left;
    
}