<!DOCTYPE html>
<html>

<title>Airbnb Report</title>

<head>
</head>

<body>
    <h1>Airbnb Report</h1>
    <div>House rental report for {{city}}, {{state}}, {{country}}</div>
    <div>Created {{time}}</div>
    <br>
    <h2>Report Overview:
    </h2>
    <p>The average price per night of the top houses in {{city}} was ${{ppN}}. This is a {{pricePercentage}}% {{priceComparator}} in comparison to last month. Overall, demand has {{demandComparator}}.
    </p>
    <p>The average booking made this month was {{bookLength}} nights long.</p>
    <p>The most popular houses this month are shown in fig. 1</p>
    <br>
    <h3>Numbers (Utilize for TESTING ONLY):</h3>
    <p>City: {{city}}</p>
    <p>State: {{state}}</p>
    <p>County: {{country}}</p>
    <p>Price Per Night: {{ppN}}</p>
    <p>% Cost Increase/Decrease: {{pricePercentage}}</p>
    <p>Demand Increase / Decrease? {{priceComparator}}</p>
    <p>Demand Increase / Decrease? {{demandComparator}}</p>
    <p>Average nights booked: {{bookLength}}</p>
    <p>Plots: STILL NEED TO BE SHOWN SOMEHOW IN PDF AFTER BEING MADE WITH MATPLOTLIB</p>

</body>

</html>