<!DOCTYPE html>
<html>

<title>Airbnb Report</title>

<head>
</head>

<body>
    <h1>Airbnb Report</h1>
    <div>House rental report for {{city}}, {{state}}, {{country}}</div>
    <div>Created {{time}}</div>
    <br>
    <h2>Report Overview:</h2>
    <br>
    <p>Average price, per night: {{averagePrice}}</p>
    <p>(Please note that the above average is calculated only using collected data.
        This means that the average price per night may differ in accuracy and number depending 
        on the selcted dataset size)
    </p>
    <p>There were {{unratedHouses}} houses that are listed but have not yet been rated</p>
</body>

</html>